body  {  background:black;  color:white; }
a     {  color:white;  }
label { font-size:150%; }

.container   {  text-align:center;  }
.header      {  vertical-align:middle;  border-radius:80%;  width:12%;  }
.centered    {  width:50%;  text-align:center;  margin: 0 auto; }
button:hover {	background-color:white;	color:black;  }

button
{
	cursor:pointer;	    width:100%;	        color:white;	    padding:10px;	
	text-align:center;	border-radius:8px;	transition:0.4s;	font-size:18px;
}

@media screen and (max-width: 450px)
{
	.centered { text-align:center; margin:none; width:100%; }
	.container{ text-align:center; }
	.header   { width: 25%; }
}

.git  { background-color:#495057; 		 }
.fb	  {	background-color:rgb(66,103,178);}
.lin  {	background-color:#0072B1;	     }
.yt	  {	background-color:rgb(255,0,0);	 }
.tw	  {	background-color:#00ACEE;		 }
.blog { background-color:#FC4F08;		 }
.tg   { background-color:#0088CC; 		 }
.oth  { background-color:rgb(139,0,0);	 }

button, .centered { font-family: 'Quicksand', sans-serif;       }
label, .container  { font-family: 'Red Hat Display', sans-serif; }

.ig	      {	background-image: linear-gradient(to right, rgb(181,30,194), rgb(30,74,192));   		 }
.ig:hover { background-image: none; moz-transition: 0.5s; -webkit-transition: 0.5s; transition: 0.5s;}